#fullpage{
 z-index: 0;
}

#navbar-wrapper{
  z-index: 2;
  position: absolute;
}



.btn-buy{
  text-decoration: none;
  display:block;
  height:40px;
  width:300px;
  text-align: center;
  -webkit-border-radius:25px;
  font-weight:bold;
  font-size:29px;
  margin: 50px auto;
  background-color: rgba(189, 209, 188, .2);
  border: solid 3px white;
  color:white;
  -webkit-transition:all 250ms ease-in-out;
  position:relative;
  z-index: 2;

}

.btn-buy:hover{
  background-color:white;
  color:#212121;
}

/*----------------------------Inicio----------------------------*/
	/*==Desktop==*/

#section0 i{
	position:absolute;
	display:none;
	}
.overlay{
  width:100%;
  height:100%;
  background: #f4f4f4;
  opacity:.25;
  z-index: 1;
  position: absolute;
  top:0;
}

#startvid{
  z-index: 0;
  position: absolute;
	top:0;
  -webkit-transform:scaleX(-1);
  width:100vw;
}

#startHeader{
  font-family: Young;
	font-weight:normal;
  color:#45a941;
	position:absolute;
  font-size: 120px;
  z-index: 10;
  left:10%;

}

#startP{
	position:absolute;
	font-size: 40px;
	z-index: 3;
	top:70%;
	left:8%;
}

/*-------------END OF INICIO-------------*/

/*-------------COMPRAR DESKTOP-------------*/

.overlayphotos{
  width:100%;
  height:100%;
  background: #000;
  opacity:.20;
  position: absolute;
  top:0;
  z-index: 0;
}
#section1 img{
  display: block;
  margin:200px auto 0;
  padding:0;
  width:60%;
  z-index:1;
  position: static;
}

#clasico{
  background-image: url("img/clasico.jpg");
  background-size: cover;
}
#clasico img{
  -webkit-transform:scale(1.2);
  top:3%;
}

#limon{
  background-image: url("img/limon.jpg");
  background-size: cover;
}
#limon img{
  position:static;
  -webkit-transform:scale(1.2);
  top:3%;
}

#chamoy{
  background-image: url("img/chamoy.jpg");
  background-size: cover;
}
#chamoy img{
  -webkit-transform:scale(1);

}


#fresa{
  background-image: url("img/fresa.jpg");
  background-size: cover;
}
#fresa img{
  -webkit-transform:scale(1);

}


#chocolate{
  background-image: url("img/chocolate.jpg");
  background-size: cover;
}
#chocolate img{
  position: relative;


}


/*-------------END OF COMPRAR DESKTOP-------------*/


/*-------------SOBRE AGARI DESKTOP-------------*/

#sobreSlide{
	background-image: url("img/leaves-bg.jpg");
	background-size:cover;
	}

#sobreSlide p{
  background-color:rgba(132, 184,	2, .7);
  width:40%;
  text-align: center;
  margin:auto;
  padding:20px;
  font-size:130%;
  font-weight: normal;
}

.head1{
  font-weight:bolder;
  font-size: 35px;
}

/*Mision vv slide*/
  #misionvv{
    background-color: #eee;
    color:black;
  }

.mvWrapper{
  display: flex;
  justify-content: center;

}


.mvItems{
  width:300px;
  margin:0;
  padding:0;
  text-align: center;
  flex-basis: 350%;
}


.mvWrapper p{
  width: 70%;
  text-align:center;
  margin: auto;
  font-size: 20px;
}

.mvWrapper h2{
  background-color: #45a941;
  width:150px;
  height: 150px;
  color:white;
  display: block;
  margin:0 auto 30px auto;
  line-height: 150px;
  -webkit-border-radius:50%;
  font-size: 50px;

}

.mvWrapper h3{
  font-size: 25px;
  margin-bottom:15px;
}
/*end of mision vv slide*/

/*-------------END OF SOBRE AGARI DESKTOP-------------*/


/*-------------CONTACTO DESKTOP-------------*/

/*contact heading*/
.headerImg{
	background:url("img/contacto-header.jpg");
	background-size:cover;
	background-position: 0% 30%;
	width:100vw;
	height:20%;
	position:absolute;
	top:0;
	z-index: 0;
}

.headerImg h1{
	color:white;
	display: flex;
	justify-content: center;
	margin-top:35px;
	align-items:center;
	height:100%;
	font-size:60px;
	z-index: 2;
	position:relative;
}

.overlayCont{
	background:black;
	width:100vw;
	height:100%;
	opacity:.5;
	position:absolute;
	z-index: 0;
	left:0;
	top:0;
}

#ContactSubt{
	background:#45a941;
	width:100vw;
	position:absolute;
	top:20%;
	text-align: center;
	font-size:30px;
	font-weight:normal;
  height:5%;
}
/*end of contact heading*/

#section3 input{
  display:block;
  width:100%;
  margin-bottom: 25px;
	padding-left:10px;
	-webkit-border-radius:15px;
	font-size:17px;
	font-family: Futura, sans-serif;
	border: 1px solid #282828;
}
label{
  color:black;
	font-size:25px;
	font-weight:bold;
}

#section3 textarea{
  display:block;
	font-size:17px;
	font-family: Futura, sans-serif;
	padding-left:10px;
	-webkit-border-radius:15px;
	resize: none;
	border: 1px solid #282828;
  width:100%;
}

#section3 form{
	margin:0 10% 0 5%;
	width:33%;
}

.btn-submit{
	display:block;
	height:30px;
	width:200px;
	border:0;

	margin-top:15px;
	-webkit-border-radius:15px;
	position:relative;
	float:right;
	font-weight:bold;
	font-size:17px;

	background-color: rgba(69, 169, 65, 0);
	border: solid 3px rgb(69, 169, 65);
	color:#3E3E3E;
  -webkit-transition:all ease-in-out 250ms;
}

.btn-submit:hover{
	color:white;
	background-color: #45a941;
}


.contactFlex{
  display:flex;
  position: relative;
  top:15%;
}


/*Detalles de contacto */
#detalles{
  margin: 25px 0 0 15%;
  color:black;
}
#detalles h2{
  margin-bottom:10%;
  font-weight:normal;
  border-bottom:solid #45a941 3px;
  width:230px;
}
#detalles p{
  margin: 0 0 30px 0;
}
#detalles p:nth-child(5){
  margin-bottom:5px;
}

#detalles p:nth-child(8){
  padding-bottom:30px;
  border-bottom:solid #45a941 3px;
}


#redesS i{
  font-size: 35px;
  font-weight: normal;
  color:#45a941;
  position: relative;
  top:3px;
}
#redesS h3{
  font-size:20px;
  font-weight:normal;
}
#redesS h3:first-child{
  float:left;
}
#redesS h3:last-child{
  float:right;
}
/*-------------END OF CONTACTO DESKTOP-------------*/


/*==phone==*/

@media (max-width:450px){

/*smaller arrows*/

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 18.5px 14px 18.5px 0 !important;
    border-color: transparent #fff transparent transparent;
    opacity:.6;
  }
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 18.5px 0 18.5px 14px !important;
    border-color: transparent transparent transparent #fff;
    opacity:.6;
}
/*end of smaller arrows*/



	/*-------------INICIO-------------*/
  #startvid{
  display: none;
}
#section0{
  background-image: url("img/drink.jpg");
  background-size:cover;
  background-position: 50% 50%;
}

	.overlay{
		position: absolute;
		z-index:1;
	}

	#startHeader{
		z-index: 3;
    left:0;
    width:100vw;
    text-align: center;
    top:30%;
	}

	#startP{
	color:#2F2F2F;
	width:80%;
	margin-top: -30%;
	font-size: 25px;
	z-index: 3;
	text-align: center;
}
	#startvid{
		z-index: 0;
		height:100%;
		position:absolute;
		top:0;
		right:-90%;


}

	#section0 i{
		display:block;
		z-index: 3;
		color:#272727;
		font-size: 80px;
		width:100%;
		text-align:center;
		z-index: 3;
		margin-top: 55%;
		margin-bottom: 30%;

	}
	/*-------------END OF INICIO PHONE-------------*/



	/*-------------COMPRAR PHONE-------------*/

  #section1 img{
    margin:-10% auto 0;
    width:90%;
    hieght:auto;
  }
	#clasico img{
    width:75%;
    height:auto;
  }
  #limon img{
    width:75%;
    height:auto;
  }

/*-------------END OF COMPRAR PHONE-------------*/



/*-------------SOBRE AGARI PHONE-------------*/
	/*Sobre agari slide*/

  #sobreSlide p{

    width:72%;
    text-align: center;
    margin:auto;
    padding:20px;
    font-weight: normal;
    font-size: 18px;
  }

  .head1{
    font-weight:bolder;
    font-size: 24px;
  }


	/*END OF Sobre agari slide*/

  /*Mision vv slide*/






  .mvWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll !important;
	height:100vh;
}


	#mision-Rocket{
		margin:390px auto;
		display:block;
		line-height:100px;
	}


  .mvWrapper p{
    font-size: 18px;
    margin-bottom:5px;
  }


  .mvWrapper h2{
    height:100px;
    width:100px;
    line-height: 100px;
  }

  .mvWrapper h2:nth-child(1){
    margin-top:90px;
  }

  .mvWrapper h3{
    font-size: 18px;
    margin:0;
  }
  /*END OF Mision vv slide*/
/*-------------END OF SOBRE AGARI PHONE-------------*/

/*-------------CONTACTO PHONE-------------*/

/*header img*/

.headerImg{
  height:20%;
}

.headerImg  h1{
  margin-top:7px;
  font-weight:normal;
  font-size:40px;
}

#ContactSubt{
  top:15%;
  font-size:25px;
  color:white;
}
/*form*/
#section3 form{
  margin:-25px 0 0 20px;
  width:90%;
}
	textarea{
		width:90%;
		margin:0;
		padding:0;
		resize:none;
		overflow:auto;
		display:inline;
    height:100px;
	}

	#section3 input{
		height:30px;
		width:90%;
	}


	#section3 label{
		font-size:25px;
		margin-bottom:100px;
    font-weight: normal;

	}

/*detalles de contacto*/
.contactFlex{
  display:block;
  position: relative;
  top:35%;
}

#detalles{
  margin-top:130px;
  width:50%;
  display:flex;
  justify-content: center;
  flex-direction: column;

}

#redesS h3{
  display: block!important;
  float:none !important;
  margin-bottom:10px;
}

#redesS i{
  top:4px;
}

/*-------------END OF CONTACTO PHONE-------------*/


}/*END OF PHONE*/


	/*TABLET*/

	@media (min-width:451px) and (max-width:1023px){

    .fp-controlArrow.fp-prev {
        left: 15px;
        width: 0;
        border-width: 25.5px 21px 25.5px 0 !important;
        border-color: transparent #fff transparent transparent;
        opacity:.6;
      }
    .fp-controlArrow.fp-next {
        right: 15px;
        border-width: 25.5px 0 25.5px 21px !important;
        border-color: transparent transparent transparent #fff;
        opacity:.6;
    }
		/*-------------INICIO-------------*/
    #section0{
      background-image: url("img/drink.jpg");
      background-size:cover;
      background-position: 50% 50%;
    }

    #startvid{
  display: none;
}
		.overlay{
		position: absolute;
		z-index:1;
	}

	#startHeader{
		z-index: 3;
		font-size:250px;
		text-align: center;
		margin-top:-40%;
		width:100%;
    left:0;
	}

	#startP{
	color:#2F2F2F;
	width:100%;
	margin-top: -30%;
	font-size: 60px;
	z-index: 3;
	text-align: center;
  left:0;
}
	#startvid{
		position:absolute;
		top:0;
		left:-20%;


}


	#section0 i{/*double down arrows fa*/
		display:block;
		z-index: 3;
		color:#343434;
		font-size: 150px;
		width:100%;
		text-align:center;
		z-index: 3;
		margin-top: 35%;
		margin-bottom: 25%;

	}
		/*-------------END OF INICIO-------------*/

    /*-------------COMPRAR TABLET-------------*/
    .btn-buy{
      width:50%;
      height:50px;
      font-size: 39px;
    }

    #section1 img{
      margin:-10% auto 0;
      width:90%;
      hieght:auto;
    }
  	#clasico img{
      width:75%;
      height:auto;
    }
    #limon img{
      width:75%;
      height:auto;
    }

    /*-------------END OF COMPRAR TABLET-------------*/


    /*-------------SOBRE AGARI INICIO-------------*/
      /*slide sobre agari*/
		#sobreSlide p{
			width:70%;
			margin-top:auto;
		}

		.head1{
		  font-weight:bolder;
		  font-size: 35px;
			white-space: pre;
		}

    /*CONTACTO TABLET*/
    #section3 textarea{
      width:100%;
    }

    .contactFlex{
      display: block;
    }
    #section3 form{
      width:90%;
    }
    #detalles{
      display: flex;
      margin:90px 0 0 0;
      justify-content: space-around;

    }
    .detalles-box{
      flex-grow: 0;
    }

    #redesS{
      margin:auto;
    }
    #redesS h3:first-child{
      float:none;
      display: block;
    }
    #redesS h3:last-child{
      float:none;
      display: block;
    }

    /*END OF CONTACTO TABLET*/

}/*END OF TABLET*/
