#fullpage{
 z-index: 0;
}

#navbar-wrapper{
  z-index: 2;
  position: absolute;
}

/*----------------------------Inicio----------------------------*/
	/*==Desktop==*/

#section0 i{
	position:absolute;
	display:none;
	}
.overlay{
  width:100%;
  height:100%;
  background: #f4f4f4;
  opacity:.25;
  z-index: 1;
  position: absolute;
  top:0;
}

#startvid{
  z-index: 0;
  position: absolute;
	top:0;
  -webkit-transform:scaleX(-1);
}

#startHeader{
  font-family: Young;
	font-weight:normal;
  color:#45a941;
	position:absolute;
  font-size: 120px;
  z-index: 10;

}

#startP{
	position:absolute;
	font-size: 40px;
	z-index: 3;
	top:70%;
}

/*-------------END OF INICIO-------------*/

/*-------------COMPRAR DESKTOP-------------*/

.overlayphotos{
  width:100%;
  height:100%;
  background: #000;
  opacity:.20;
  position: absolute;
  top:0;
  z-index: 0;
}
#clasico{
  background-image: url("img/clasico.jpg");
  background-size: cover;
}
#clasico img{
  -webkit-transform:scale(1.2);
  top:3%;
}

#limon{
  background-image: url("img/limon.jpg");
  background-size: cover;
}
#limon img{
  -webkit-transform:scale(1.2);
  top:3%;
}

#chamoy{
  background-image: url("img/chamoy.jpg");
  background-size: cover;
}
#chamoy img{
  -webkit-transform:scale(1.4);
  top:3%;
}

#fresa{
  background-image: url("img/fresa.jpg");
  background-size: cover;
}
#fresa img{
  -webkit-transform:scale(1.37);
  top:3%;
}

#chocolate{
  background-image: url("img/chocolate.jpg");
  background-size: cover;
}
#chocolate img{
  -webkit-transform:scale(1.23,1.6);
  top:3%;
}

#section1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-10%;
  padding:0;
  width:60%;
  z-index:1;
  position: relative;
}

/*-------------END OF COMPRAR DESKTOP-------------*/


/*-------------SOBRE AGARI DESKTOP-------------*/

#sobreSlide{
	background-image: url("img/leaves-bg.jpg");
	background-size:cover;
	}

#sobreSlide p{
  background-color:rgba(132, 184,	2, .7);
  width:40%;
  text-align: center;
  margin:auto;
  padding:20px;
  font-size:130%;
  font-weight: normal;
}

.head1{
  font-weight:bolder;
  font-size: 35px;
}

/*Mision vv slide*/
  #misionvv{
    background-color: #eee;
    color:black;
  }

.mvWrapper{
  display: flex;
  justify-content: center;

}


.mvItems{
  width:300px;
  margin:0;
  padding:0;
  text-align: center;
  flex-basis: 350%;
}


.mvWrapper p{
  width: 70%;
  text-align:center;
  margin: auto;
  font-size: 20px;
}

.mvWrapper h2{
  background-color: #45a941;
  width:150px;
  height: 150px;
  color:white;
  display: block;
  margin:0 auto 30px auto;
  line-height: 150px;
  -webkit-border-radius:50%;
  font-size: 50px;

}

.mvWrapper h3{
  font-size: 25px;
  margin-bottom:15px;
}
/*end of mision vv slide*/

/*-------------END OF SOBRE AGARI DESKTOP-------------*/


/*-------------CONTACTO DESKTOP-------------*/

#section3 input{
  display:block;
  width:100%;
  margin-bottom: 50px;
	padding-left:10px;
	-webkit-border-radius:15px;
	font-size:17px;
	font-family: Futura, sans-serif;
	border: 1px solid #282828;
}
label{
  color:black;
}

#section3 textarea{
  display:block;
	font-size:17px;
	font-family: Futura, sans-serif;
	padding-left:10px;
	-webkit-border-radius:15px;
	resize: none;
	border: 1px solid #282828;
}

#section3 form{
	margin:5% 10% 0 5%;
	width:33%;
}

.btn-submit{
	display:block;
	height:30px;
	width:200px;
	border:0;

	margin-top:15px;
	-webkit-border-radius:15px;
	position:relative;
	float:right;
	font-weight:bold;
	font-size:17px;

	background-color: rgba(69, 169, 65, 0);
	border: solid 3px rgb(69, 169, 65);
	color:#3E3E3E;
}

.btn-submit:hover{
	color:white;
	background-color: #45a941;
}

/*-------------END OF CONTACTO DESKTOP-------------*/


/*==phone==*/

@media (max-width:450px){

/*smaller arrows*/

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 18.5px 14px 18.5px 0 !important;
    border-color: transparent #fff transparent transparent;
    opacity:.6;
  }
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 18.5px 0 18.5px 14px !important;
    border-color: transparent transparent transparent #fff;
    opacity:.6;
}
/*end of smaller arrows*/



	/*-------------INICIO-------------*/
  #startvid{
  display: none;
}
#section0{
  background-image: url("img/drink.jpg");
  background-size:cover;
  background-position: 50% 50%;
}

	.overlay{
		position: absolute;
		z-index:1;
	}

	#startHeader{
		z-index: 3;
		text-align: center;
		margin-top:-40%;
		width:100%;

	}

	#startP{
	color:#2F2F2F;
	width:100%;
	margin-top: -30%;
	font-size: 25px;
	z-index: 3;
	text-align: center;
}
	#startvid{
		z-index: 0;
		height:100%;
		position:absolute;
		top:0;
		right:-90%;


}

	#section0 i{
		display:block;
		z-index: 3;
		color:#272727;
		font-size: 80px;
		width:100%;
		text-align:center;
		z-index: 3;
		margin-top: 55%;
		margin-bottom: 30%;

	}
	/*-------------END OF INICIO PHONE-------------*/



	/*-------------COMPRAR PHONE-------------*/

			/*none*/

/*-------------END OF COMPRAR PHONE-------------*/



/*-------------SOBRE AGARI PHONE-------------*/
	/*Sobre agari slide*/
  #sobreSlide p{

    width:72%;
    text-align: center;
    margin:auto;
    padding:20px;
    font-weight: normal;
    font-size: 18px;
  }

  .head1{
    font-weight:bolder;
    font-size: 24px;
  }


	/*END OF Sobre agari slide*/

  /*Mision vv slide*/

  .mvWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

  .mvItems{
  }


  .mvWrapper p{
    font-size: 18px;
    margin-bottom:5px;
  }

  .mvWrapper h2{
    height:100px;
    width:100px;
    line-height: 100px;
  }

  .mvWrapper h2:nth-child(1){
    margin-top:90px;
  }

  .mvWrapper h3{
    font-size: 18px;
    margin:0;
  }
  /*END OF Mision vv slide*/
/*-------------END OF SOBRE AGARI PHONE-------------*/

/*-------------CONTACTO PHONE-------------*/
	textarea{
		width:90%;
		margin:0;
		padding:0;
		resize:none;
		overflow:auto;
		display:inline;

	}
	#section3 form{
		margin-left:20px;
		width:90%;
	}
	#section3 input{
		height:30px;
		width:90%;
	}

	#section3 textarea{
		height
	}

	#section3 label{
		font-size:15px;
		margin-bottom:100px;

	}


/*-------------END OF CONTACTO PHONE-------------*/


}/*END OF PHONE*/


	/*TABLET*/

	@media (min-width:451px) and (max-width:1023px){
		/*-------------INICIO-------------*/
    #section0{
      background-image: url("img/drink.jpg");
      background-size:cover;
      background-position: 50% 50%;
    }

    #startvid{
  display: none;
}
		.overlay{
		position: absolute;
		z-index:1;
	}

	#startHeader{
		z-index: 3;
		font-size:250px;
		text-align: center;
		margin-top:-40%;
		width:100%;

	}

	#startP{
	color:#2F2F2F;
	width:100%;
	margin-top: -30%;
	font-size: 60px;
	z-index: 3;
	text-align: center;
}
	#startvid{
		position:absolute;
		top:0;
		left:-20%;


}


	#section0 i{/*double down arrows fa*/
		display:block;
		z-index: 3;
		color:#343434;
		font-size: 150px;
		width:100%;
		text-align:center;
		z-index: 3;
		margin-top: 35%;
		margin-bottom: 25%;

	}
		/*-------------END OF INICIO-------------*/

    /*-------------SOBRE AGARI INICIO-------------*/
      /*slide sobre agari*/


    /*-------------END OF SOBRE AGARI-------------*/
	}/*END OF TABLET*/
